In [ ]:
x=20

In [ ]:
if x>10 :
  print("x>10")

x>10

In [ ]:
x=20  
if x>10:
  print("x>10")
if x<10:
  print("x<10")
if x==10:
  print("x==10")

x>10

In [6]:
x=int(input("enter your name"))


if x>100:
  print("Pass")
if x<100:
  print("Fail")
if x==100:
  print("Just Pass")

enter your name40
Fail

In [18]:
x=int(input("enter the salary"))
if x>250000:
  print(x*10/100)
if  x<250000:
  print('not taxable')

enter the salary300000
30000.0